
<section id="carousel">
    <div class="container text-center border_bottom">
        <div class="mb-3"><img src="img/trustpilot3.svg" alt="trustpilot" class="trustpilot"></div>
        <p>[<%- format(gettext("Based on %s reviews"), [5635]) %>]</p>
    <div class="container-fluid">
        <div id="reviews_caousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators d-flex d-lg-none">
                <li data-target="#reviews_caousel" data-slide-to="0" class="active"></li>
                <li data-target="#reviews_caousel" data-slide-to="1"></li>
                <li data-target="#reviews_caousel" data-slide-to="2"></li>
                <li data-target="#reviews_caousel" data-slide-to="3"></li>
            </ol>
            <div class="container grad">
                <div class="gradient_left d-lg-block d-none"></div>
                <div class="gradient_right d-lg-block d-none"></div>
                <div class="carousel-inner mx-auto justify-content-between text-left">
                    <div class="carousel-item col-lg-4 active">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">I tested a lot of VPNs, often (even very often) the quality of the servers was zero, very long to connect to the VPN and to Internet sites, the ping was high and I had a very poor speed. Since I moved to Private_Internet_Access, everything has become fluid. The ping is good, the speed too, the speed of connection to the VPN as well as to Internet sites are instantaneous. In short I think I will stay on this VPN for a long time. I recommend this VPN if you want to take on</p>
                                <div class="gradient"></div>
                            </div>
                            <div class="card-footer">
                                <p class="name d-inline-block"><b>Mowense</b></p>
                                <div class="stars d-inline-block">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <a href="https://www.trustpilot.com/reviews/5e5d57283c93ae0bc40e4f82" target="_blank">
                                    <%- gettext("Read full review") %>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Best VPN, I've used other VPNs and this is by far the best one if you are looking for low ping server. No need to relog when you launch your computer. Just launch PIA and click on a server.</p>
                                <div class="gradient"></div>
                            </div>
                            <div class="card-footer">
                                <p class="name d-inline-block"><b>Nathan Porterfield</b></p>
                                <div class="stars d-inline-block">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <a href="https://www.trustpilot.com/reviews/5e5d428d3c93ae0864abc39d" target="_blank">
                                    <%- gettext("Read full review") %>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Excellent combination of features, ease of use, and price, Very happy new customer. I'm a very technical PC user (the "computer guy" in the family, you know the type) with a good ability to weigh the pro's and con's of different VPN products. PIA had an excellent combination of (1) features, (2) ease of use, and (3) price. Easy enough to install and use that even non-technical users could easily use it. Has all the key features I was looking for. Excellent price and value. I would happily recommend this to anyone wanting a VPN.</p>
                                <div class="gradient"></div>
                            </div>
                            <div class="card-footer">
                                <p class="name d-inline-block"><b>E. in Michigan</b></p>
                                <div class="stars d-inline-block">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <a href="https://www.trustpilot.com/reviews/5e41f93c3c93ae0b24a23318" target="_blank">
                                    <%- gettext("Read full review") %>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">I tested a lot of VPNs, often (even very often) the quality of the servers was zero, very long to connect to the VPN and to Internet sites, the ping was high and I had a very poor speed. Since I moved to Private_Internet_Access, everything has become fluid. The ping is good, the speed too, the speed of connection to the VPN as well as to Internet sites are instantaneous. In short I think I will stay on this VPN for a long time. I recommend this VPN if you want to take on</p>
                                <div class="gradient"></div>
                            </div>
                            <div class="card-footer">
                                <p class="name d-inline-block"><b>Mowense</b></p>
                                <div class="stars d-inline-block">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <a href="https://www.trustpilot.com/reviews/5e5d57283c93ae0bc40e4f82" target="_blank">
                                    <%- gettext("Read full review") %>
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container controls d-none d-sm-flex">
                <a class="mx-1 prev" href="#reviews_caousel" role="button" data-slide="prev">
                    <i class="fal fa-chevron-left"></i>
                </a>
                <a class="mx-1 next" href="#reviews_caousel" role="button" data-slide="next">
                    <i class="fal fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    let ca = false;
    (function ($) {
        $("#reviews_caousel").on("swiperight",function() {
            $(this).carousel('prev');
        });
        $("#reviews_caousel").on("swipeleft",function() {
            $(this).carousel('next');
        });
        function carouselScroll(e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item").length; // 4

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx); // 3 - (4 - idx)
                for (var i = 0; i < it; i++) {
                    if (e.direction == "left") 
                        $(".carousel-item").eq(i).appendTo(".carousel-inner");
                     else 
                        $(".carousel-item").eq(0).appendTo(".carousel-inner");
                }
            }
        }
        $( window ).resize(function() {
            if(window.innerWidth > 991 && !ca) {
            $("#reviews_caousel").on("slide.bs.carousel", carouselScroll );
            ca = true
        } else if(window.innerWidth <= 991 && ca) {
            $("#reviews_caousel").off("slide.bs.carousel", carouselScroll );
            ca = false
        }
        });
        if(window.innerWidth > 991 && !ca) {
            $("#reviews_caousel").on("slide.bs.carousel", carouselScroll );
            ca = true
        } 
    })(jQuery);
</script>