<section id="vpn_features">
    <div class="container text-center">
        <h3 class="hp"><%- gettext("VPN Features") %></h3>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="feature">
                <img src="img/circle_icon_secure.svg" alt="Secure">
                <p><%- gettext("Secure VPN Account") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_wifi.svg" alt="Wifi">
                <p><%- gettext("Encrypted WiFi") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_voip.svg" alt="Voip">
                <p><%- gettext("P2P Support") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_protocols.svg" alt="Protocols">
                <p><%- gettext("PPTP, OpenVPN and L2TP/IPSec") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_simultaneously.svg" alt="10 devices">
                <p><%- format(gettext("%s devices simultaneously"),[10]) %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_block.svg" alt="Block ads">
                <p><%- gettext("Block ads, trackers, and malware") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_gatways.svg" alt="VPN Gateways">
                <p><%- gettext("Multiple VPN Gateways") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_speed.svg" alt="Unlimited Bandwidth">
                <p><%- gettext("Unlimited Bandwidth") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_proxy.svg" alt="Proxy">
                <p><%- gettext("SOCKS5 Proxy Includeds") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_logs.svg" alt="No logs">
                <p><%- gettext("No traffic logs") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_setup.svg" alt="Setup">
                <p><%- gettext("Instant Setup") %></p>
            </div>
            <div class="feature">
                <img src="img/circle_icon_easy.svg" alt="Easy">
                <p><%- gettext("Easy to use") %></p>
            </div>
        <div>
    </div>
</section>