<section id="why_us">
    <div class="container">
        <h3 class="hp text-center"><%- gettext('Why Choose Us?') %></h3>
        <div class="advList row mg-top">
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Dedicated VPN Service') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('No Traffic or Request logs') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('US based corporation') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Quality and reliability') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Unbeatable price') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Gigabit VPN port speeds') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('VPN service specialists') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
            <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Professional support staff') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('SOCKS5 Proxy Included') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('OpenVPN, PPTP &amp; IPSEC/L2TP') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Premium VPN Bandwidth') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Unmetered VPN Transfer') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Anonymous VPN') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('DD-WRT VPN Compatible') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="img/checkmark_icon_green.png" alt="checkmark" class="d-inline-block">
                <span class="subsStyle"><%- gettext('Instant activation') %></span>
            </div>
        </div>
    </div>
</section>