<div id="coupon" class="blackfriday_coupon">
    <img src="/img/bg_spots.svg" alt="Spots" class="bg_spots">
    <img src="/img/bg_spots.svg" alt="Spots" class="bg_spots">
    <div class="container text-center color_white">
        <img src="/img/close_gift.svg" alt="Gift" class="gift_coupon">
        <img src="/img/close_gift.svg" alt="Gift" class="gift_coupon">
        <div>
            <div class="text_container">
                <h1><%- gettext("Black Friday Super-Sale!") %></h1>
                <h3><%- gettext("For a Limited Time Only:") %></h3>
            </div>
            <div class="coupon_clock">
                <div class="clock_lables">
                    <h5><%- gettext("Days") %> </h5>
                    <h5><%- gettext("Hrs") %> </h5>
                    <h5><%- gettext("Min") %> </h5>
                    <h5><%- gettext("Sec") %> </h5>
                </div>
                <div class="clock flip-clock-wrapper" style="margin:2em;">
                    <span class="flip-clock-divider days">
                        <span class="flip-clock-label">Days</span>
                    </span>
                    <ul class="flip">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">9</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">9</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <ul class="flip">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">2</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">2</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <span class="flip-clock-divider hours">
                        <span class="flip-clock-label">Hours</span>
                    </span>
                    <ul class="flip">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">1</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">1</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <ul class="flip">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">3</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">3</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <span class="flip-clock-divider minutes">
                        <span class="flip-clock-label">Minutes</span>
                    </span>
                    <ul class="flip">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">2</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">2</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <ul class="flip">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">1</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">1</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <span class="flip-clock-divider seconds">
                        <span class="flip-clock-label">Seconds</span>
                    </span>
                    <ul class="flip play">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">1</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">1</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">0</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                    <ul class="flip play">
                        <li class="flip-clock-before">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">9</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">9</div>
                            </div>
                        </a>
                        </li>
                        <li class="flip-clock-active">
                        <a href="#">
                            <div class="up">
                            <div class="shadow"></div>
                            <div class="inn">8</div>
                            </div>
                            <div class="down">
                            <div class="shadow"></div>
                            <div class="inn">8</div>
                            </div>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var countDownDate = new Date('<%- event ? event.to : '' %>');
    countDownDate =  countDownDate.getTime() - countDownDate.getTimezoneOffset() * 60000;
</script>
<script src="<%= asset('/js/flip_clock.js') %>"></script>