<header style="background-image: url(/img/<%- bg %>)" class="pt-5">
    <div class="container text-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-9">
            <h2 class="d-inline-block"><%- title %></h2>
            <div class="d-block my-2 price">
                <span><%- prices.blocks[1].USD.perMonthFull %></span>
                <span class="mo"><%- gettext("/mo") %></span>
            </div>
            <div class="d-block">
                <a href="<%- offerLink %>" class="btn_hp_gradient_orange mb-2"><%- gettext("Get started now") %></a>
                <h6><%- gettext("Risk Free 7 day money back guarntee") %></h6>
            </div>
            <div class="brands d-block mt-2">
                <div class="d-inline-block mr-4"><img src="/img/brand_logo_pcmag.png" alt="pcmag"></div>
                <div class="d-inline-block mr-4"><img src="/img/brand_logo_editor_choice.png" alt="editor choice"></div>
                <div class="d-inline-block"><img src="/img/brand_logo_cnet.png" alt="cnet"></div>
            </div>
        </div>
    </div>
</header>
