<% if (!query.nl || query.nl !== '1')  { %>
        <div id="container-floating" class="">

            <a class="nds lang-button" href="/en/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/<%- (userLocation && userLocation.cn == 'United Kingdom') ? 'uk' : 'en' %>_button.png" alt="en" data-toggle="tooltip" title="English">
            </a>

            <a class="nds lang-button" href="/de/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/de_button.png" alt="de" data-toggle="tooltip" title="DEUTSCH">
            </a>

            <a class="nds lang-button" href="/fr/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/fr_button.png" alt="fr" data-toggle="tooltip" title="FRANÇAIS">
            </a>

            <a class="nds lang-button" href="/ru/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/ru_button.png" alt="ru" data-toggle="tooltip" title="РУССКИЙ">
            </a>

            <a class="nds lang-button" href="/nl/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/nl_button.png" alt="nl" data-toggle="tooltip" title="NEDERLANDS">
            </a>

            <a class="nds lang-button" href="/es/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/es_button.png" alt="es" data-toggle="tooltip" title="ESPAÑOL">
            </a>

            <a class="nds lang-button" href="/ko/<%- pageName + urlSearch %>">
                <img class="lang-flag" src="/img/flags/ko_button.png" alt="ko" data-toggle="tooltip" title="한국어">
            </a>

            <div id="floating-button" data-toggle="tooltip" title="Languages">
                <img class="this-lang" src="/img/flags/<%- (userLocation && userLocation.cn == 'United Kingdom' && lang == 'en') ? 'uk' : lang %>_button.png" alt="<%- lang %>">
                <i class="change fas fa-language"></i>
            </div>

        </div>

<% } %>