<section id="servers" class="show_in_position">
    <div class="container text-center">
        <h3 class="new_title"><%- gettext('Use the internet from wherever') %></h3>
        <p><%- gettext("Choose your location from cities in the United States, the United Kingdom, Japan, or 27 other countries. With Private Internet Access, you are in control of your connection and IP address. There are 200+ locations to choose from with our private, encrypted VPN connection.") %></p>
        <div class="d-flex justify-content-center content">
            <div class="col_width">
                <div>
                    <div class="servers d-inline-block mr-4">
                        <h1 class="title color_pia_green my-0 d-inline-block" data-count="3335">3335</h1>
                        <h1 class="title d-inline-block color_pia_green my-0">+</h1>
                        <h3 class="sub_title mb-3 color_dark_green"><%- gettext('Servers') %></h3>
                    </div>
                    <div class="countries d-inline-block ml-4">
                        <h1 class="title color_pia_green my-0" data-count="30">30</h1>
                        <h3 class="sub_title mb-3 color_dark_green"><%- gettext('Countries') %></h3>
                    </div>
                    <div class="d-flex flex-wrap countries_flag justify-content-center">
                        <div class="mb-3 mx-2"><img src="img/circle_flag_us2.png" alt="United States flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_gb2.png" alt="United Kingdom flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_ca2.png" alt="Canada flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_au2.png" alt="Australia flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_de2.png" alt="Germany flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_nz2.png" alt="New Zealand flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_nl2.png" alt="Netherlands flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_se2.png" alt="Sweden flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_no2.png" alt="Norway flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_dk2.png" alt="Denmark flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_fi2.png" alt="Finland flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_ch2.png" alt="Switzerland flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_fr2.png" alt="France flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_be2.png" alt="Belgium flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_at2.png" alt="Austria flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_cz2.png" alt="Czech Republic flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_lu2.png" alt="Luxembourg flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_ie2.png" alt="Ireland flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_it2.png" alt="Italy flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_es2.png" alt="Spain flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_ro2.png" alt="Romania flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_hu2.png" alt="Hungary flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_po2.png" alt="Poland flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_ae2.png" alt="United Arab Emirates flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_hk2.png" alt="Hong Kong flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_sg2.png" alt="Singapore flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_jp2.png" alt="Japan flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_il2.png" alt="Israel flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_mx2.png" alt="Mexico flag"></div>
                        <div class="mb-3 mx-2"><img src="img/circle_flag_in2.png" alt="India flag"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="img/servers_globe2.png" alt="" class="globe">
            </div>
        </div>
    </div>
</section>
<script src="<%= asset('js/countTo.js') %>" async></script>