<section id="singal_review">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="sitting">
            <h1 class="d-inline-block new_title"><%- gettext("Customer <br>Review") %></h1>
        </div>
        <div class="review text-center position-relative">
            <div class="review_card text-left">
                <div class="green_title">
                    <div class="user d-inline-block">
                        <h5><%- gettext("Review by John S.") %></h5>
                        <img src="img/five_stars.svg" alt="five_stars">
                    </div>
                    <h5 class="d-inline-block ago"><%- gettext("31h ago") %></h5>
                </div>
                <div class="content">
                    <p><%- gettext("…I'm glad you're here and I'm glad to put my money towards a great service. I wish you all the best of luck. I'm looking forward to enjoying a freer internet experience.") %></p>
                </div>
            </div>
            <div class="d-block text-center">
                <img src="img/trustpilot3.svg" alt="trustpilot" class="trustpilot">
                <h6 class="color_dark_green trustpilot_based"><%- format(gettext("Based on %s reviews"),[5548]) %></h6>
            </div>
        </div>
    </div>
</section>
