<section id="vpn_features">
    <div class="container text-center">
        <h3 class="new_title"><%- gettext("VPN Features") %></h3>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="feature">
                <img src="/img/feature_icon_secure.png" alt="Secure">
                <p><%- gettext("Secure VPN Account") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_wifi.png" alt="Wifi">
                <p><%- gettext("Encrypted WiFi") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_voip.png" alt="Voip">
                <p><%- gettext("P2P Support") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_protocols.png" alt="Protocols">
                <p><%- gettext("PPTP, OpenVPN and L2TP/IPSec") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_simultaneously.png" alt="10 devices">
                <p><%- gettext("10 devices simultaneously") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_block.png" alt="Block ads">
                <p><%- gettext("Block ads, trackers, and malware") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_gatways.png" alt="VPN Gateways">
                <p><%- gettext("Multiple VPN Gateways") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_speed.png" alt="Unlimited Bandwidth">
                <p><%- gettext("Unlimited Bandwidth") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_proxy.png" alt="Proxy">
                <p><%- gettext("SOCKS5 Proxy Includeds") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_logs.png" alt="No logs">
                <p><%- gettext("No traffic logs") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_setup.png" alt="Setup">
                <p><%- gettext("Instant Setup") %></p>
            </div>
            <div class="feature">
                <img src="/img/feature_icon_easy.png" alt="Easy">
                <p><%- gettext("Easy to use") %></p>
            </div>
        <div>
    </div>
</section>