<section id="why_pia">
    <div class="container text-center position-relative">
        <img src="img/choose_people_bg.png" alt="people" class="people">
        <h2 class="mb-5 position-relative"><%- gettext("Why choose Private Internet Access?") %></h2>
        <div class="position-relative text-left d-flex flex-md-wrap justify-content-md-between flex-md-row justify-content-start flex-column">
            <div class="col-46 d-flex mb-5">
                <div class="mr-3"><img src="img/icon_privacy.svg" alt="Privacy"></div>
                <div>
                    <h5 class="mb-2"><%- gettext("Total Privacy") %></h5>
                    <p class="mb-0"><%- gettext("Private Internet Access never keeps any records of users' online activities. You can rest assured knowing you have complete privacy, and nobody knows what you're doing online.") %></p>
                </div>
            </div>
            <div class="col-46 d-flex mb-5">
                <div class="mr-3"><img src="img/icon_secure2.svg" alt="Secure"></div>
                <div>
                    <h5 class="mb-2"><%- gettext("Easy to use") %></h5>
                    <p class="mb-0"><%- gettext("No matter your technical skills Private Internet Access is one of the easiest VPN apps out there. All it takes to connect is just 1 click or tap and your data will be encrypted instantly.") %></p>
                </div>
            </div>
            <div class="col-46 d-flex mb-5">
                <div class="mr-3"><img src="img/icon_easy.svg" alt="Easy"></div>
                <div>
                    <h5 class="mb-2"><%- gettext("Secure VPN Protocols") %></h5>
                    <p class="mb-0"><%- gettext("Our app is powered by the latest and most advanced protocols like: PPTP, OpenVPN and L2TP/IPSec.") %></p>
                </div>
            </div>
            <div class="col-46 d-flex mb-5">
                <div class="mr-3"><img src="img/icon_simultaneously.svg" alt="Simultaneously"></div>
                <div>
                    <h5 class="mb-2"><%- format(gettext("%s devices simultaneously"),[10]) %></h5>
                    <p class="mb-0"><%- gettext("Keep all your devices protected. With just 1 Private Internet Access VPN subscription you can connect on up to 10 devices at the same time.") %></p>
                </div>
            </div>
        </div>
        <div class="quotes_circle position-relative">
            <p class="quotes_text"><b><q><%- gettext("Our readers made it abundantly clear that Private Internet Access should be your first stop for protecting your private browsing data.") %></q></b></p>
            <hr>
            <img src="img/logo_lifehacker_bar.png" alt="lifehacker" class="lifehacker">
            <img src="img/qoutemarks.svg" alt="quotes" class="quotes">
        </div>
    </div>
    <div class="corners"></div>
</section>