<section id="why_us">
    <div class="container">
        <h3 class="text-center new_title"><%- gettext('Why Choose Us?') %></h3>
        <div class="advList row mg-top">
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Dedicated VPN Service') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('No Traffic or Request logs') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('US based corporation') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Quality and reliability') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Unbeatable price') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Gigabit VPN port speeds') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('VPN service specialists') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
            <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Professional support staff') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('SOCKS5 Proxy Included') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('OpenVPN, PPTP &amp; IPSEC/L2TP') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Premium VPN Bandwidth') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Unmetered VPN Transfer') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Anonymous VPN') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('DD-WRT VPN Compatible') %></span>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/img/checkmark_icon_green2.svg" alt="checkmark" class="d-inline-block">
                <span class="subsStyle color_dark_green"><%- gettext('Instant activation') %></span>
            </div>
        </div>
    </div>
</section>