
<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/404.css') %>">
</head>
<body>
    <% include ../navbar/navbar_white %>
    <div id="page_404" class="d-flex align-items-center">
        <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center">
            <div>
                <img src="/img/pia_lockman_sad.png" class="img_404"/>
            </div>
            <div>
                <h1><%- gettext('OOPS!') %></h1>
                <p><%- gettext("It looks like the page you were looking for isn't here anymore. Feel free to visit our homepage by clicking the button below.") %></p>
                <a href="<%- offerLink %>" target="_self" class="btn_hp_gradient_orange"><%- gettext('Take Me To The Homepage') %></a>
            </div>
        </div>
    </div>
</body>

</html>