<footer id="people_discount" class="py-5">
    <div class="container d-flex justify-content-center align-items-center flex-wrap-reverse flex-md-nowrap">
        <div class="col-md-6 text-md-left text-center">
            <h3 class="new_title"><%- gettext("7 day money back guarantee") %></h3>
            <p class="color_dark_green mb-5"><%- gettext("If you’re not 100% satisfied with Private Internet Access, we’ll give you your money back. Try us risk free, that’s our 7 day money back guarantee.") %></p>
            <a href="<%- offerLink %>" class="btn_pia orange"><%- gettext("Get Private Internet Access") %></a>
        </div>
        <div class="circle mb-md-0 mb-4">
            <div class="title text-center"><%- gettext("today's<br>offer") %></div>
            <div class="discount_container">
                <div class="discount">-<%- prices.blocks[1].discount %></div>
                <div class="percent">%</div>
            </div>
        </div>
    </div>
</footer>