<% include ../partials/trusted_companies %>
<section id="sevice">
    <div class="container d-flex justify-content-between flex-column flex-md-row text-center">
        <div class="col-4 text-center">
            <div><img src="img/circle_box_pia_lockman_secret.png" alt="Secret"></div>
            <h3 class="my-3"><%- gettext("Protect your online privacy and identity") %></h3>
            <p><%- gettext("Browse anonymously with a private IP address and enable strong encryption to protect yourself from your ISP and public Wi-Fi networks.") %></p>
        </div>
        <div class="col-4 text-center">
            <div><img src="img/cirlce_box_pia_lockman_unblock.png" alt="Unblock"></div>
            <h3 class="my-3"><%- gettext("Unblock Streaming") %></h3>
            <p><%- gettext("Get access to tons of new content on platforms like Netflix, Disney Plus, Amazon Prime Video, HBO GO, and more.") %></p>
        </div>
        <div class="col-4 text-center">
            <div><img src="img/cirlce_pia_lockman_bestvpn.png" alt="Best VPN"></div>
            <h3 class="my-3"><%- gettext("The World's Leading VPN") %></h3>
            <p><%- gettext("Private Internet Access provides the highest speeds and most encryption. So, get a perfect streaming experience without any buffering or slow loading times.") %></p>
        </div>
    </div>
</section>