<% include ../partials/trusted_companies %>
<section id="sevice">
    <div class="container text-center border_bottom">
        <h2 class="mb-3"><%- gettext("World-class VPN service:") %></h2>
        <div class="d-flex justify-content-between flex-column flex-md-row">
            <div class="col-4 text-center">
                <div><img src="img/pia_lockman/circle_box_pia_lockman_secret.png" alt="Secret"></div>
                <h5 class="my-3 text-uppercase"><%- gettext("Protect your online privacy and identity") %></h5>
                <p><%- gettext("Browse anonymously with a private IP address and enable strong encryption to protect yourself from your ISP and public Wi-Fi networks.") %></p>
            </div>
            <div class="col-4 text-center">
                <div><img src="img/pia_lockman/cirlce_box_pia_lockman_unblock.png" alt="Unblock"></div>
                <h5 class="my-3 text-uppercase"><%- gettext("Unblock Streaming") %></h5>
                <p><%- gettext("Get access to tons of new content on platforms like Netflix, Disney Plus, Amazon Prime Video, HBO GO, and more.") %></p>
            </div>
            <div class="col-4 text-center">
                <div><img src="img/pia_lockman/cirlce_pia_lockman_bestvpn.png" alt="Best VPN"></div>
                <h5 class="my-3 text-uppercase"><%- gettext("The World's Leading VPN") %></h5>
                <p><%- gettext("Private Internet Access provides the highest speeds and most encryption. So, get a perfect streaming experience without any buffering or slow loading times.") %></p>
            </div>
        </div>
    </div>
</section>
<% include ../partials/servers_globe %>
<% include ../partials/experience_system %>