
<script src="<%= asset('/js/hideIP_body.js') %>"></script>
    <div id="body_container">
        <section class="screen_size center_section">
            <h1><%- gettext("The simplest hide my IP solution") %></h1>
            <h2><%- gettext("Easy as one-two-three") %></h2>
            <div class="steps">
                <div class="step">
                    <p><%- gettext("Sign up for ZenMate VPN") %></p>
                </div>
                <div class="step">
                    <p><%- gettext("Open the ZenMate app and connect to any of our server locations") %></p>
                </div>
                <div class="step">
                    <p><%- gettext("Enjoy online invisibility!") %></p>
                </div>
            </div>
            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
            <p class="under_btn"><%- gettext('30-day money-back guarantee') %></p>
        </section>
        <section class="scew_bg grey_bg">
            <div class="unscew_bg screen_size center_section">
                <h1 class="pad_70"><%- gettext("Why you should hide your IP starting right now") %></h1>
                <div class="story desktop_story">
                    <div class="part">
                        <img src="/img/story_part_01.jpg" class="story_img" alt="part_01">
                        <p><%- gettext("The Internet has seen a lot of changes over the last years. And not for the good.") %></p>
                    </div>
                    <div class="part">
                        <img src="/img/story_part_02.jpg" class="story_img" alt="part_02">
                        <p><%- gettext("For one, it’s become a heaven for scammers, hackers or snoopers.") %></p>
                    </div>
                    <div class="part">
                        <img src="/img/story_part_03.jpg" class="story_img" alt="part_03">
                        <p><%- gettext("Torrenting can now get you into legal trouble – or at least make you pay a hefty fine for downloading a file.") %></p>
                    </div>

                    <div class="part">
                        <img src="/img/story_part_04.jpg" class="story_img" alt="part_04">
                        <p><%- gettext("Then, there’s the issue of geographical restrictions. More and more websites make use of them in order to deny you access to their content because of the country you live in.") %></p>
                    </div>
                    <div class="part">
                        <img src="/img/story_part_05.jpg" class="story_img" alt="">
                        <p><%- gettext("There’s also censorship. Certain governments abuse their power by blocking internet access to certain parts of the internet.") %></p>
                    </div>
                    <div class="part">
                        <img src="/img/story_part_06.jpg" class="story_img" alt="part_06">
                        <p><%- gettext("As if this wasn’t enough, most of the websites you visit keep track of your browsing habits, what you click on, how long you spend looking at a page. They then sell this data about you to advertising companies.") %></p>
                    </div>

                    <div class="part">
                        <img src="/img/story_part_07.jpg" class="story_img" alt="part_07">
                        <p><%- gettext("Finally, your Internet Service Provider (ISP) takes the icing on the cake. It too, can spy on your online activity without your permission and sell this data to the highest bidder.") %></p>
                    </div>
                    <div class="part">
                        <img src="/img/story_part_08.jpg" class="story_img" alt="part_08">
                        <p><%- gettext("And these would not be possible without your real IP address.") %></p>
                    </div>
                    <div class="part">
                        <img src="/img/story_part_09.jpg" class="story_img" alt="part_09">
                        <p><%- gettext("By hiding your real IP you can make yourself immune to all these issues.") %></p>
                    </div>
                </div>


                <div class="story mobile_story">
                    <p>
                        <img src="/img/story_part_1_mobile.png" class="story_img story_right" alt="part_01">
                        <%- gettext("The Internet has seen a lot of changes over the last years. And not for the good.") %>
                        <br><br>
                        <%- gettext("For one, it’s become a heaven for scammers, hackers or snoopers.") %>
                    </p>
                    

                    <p>
                        <img src="/img/story_part_2_mobile.png" class="story_img story_right" alt="part_02">
                        <%- gettext("Torrenting can now get you into legal trouble – or at least make you pay a hefty fine for downloading a file.") %>
                         <br><br>
                        <%- gettext("Then, there’s the issue of geographical restrictions. More and more websites make use of them in order to deny you access to their content because of the country you live in.") %>
                    </p>
                   
                    <p>
                        <img src="/img/story_part_3_mobile.png" class="story_img story_left" alt="part_03">
                        <%- gettext("There’s also censorship. Certain governments abuse their power by blocking internet access to certain parts of the internet.") %>
                    </p>
                    <p>
                        <img src="/img/story_part_4_mobile.png" class="story_img story_right" alt="part_03">
                        <%- gettext("As if this wasn’t enough, most of the websites you visit keep track of your browsing habits, what you click on, how long you spend looking at a page. They then sell this data about you to advertising companies.") %>
                    </p>
     
                        
                    <p><%- gettext("Finally, your Internet Service Provider (ISP) takes the icing on the cake. It too, can spy on your online activity without your permission and sell this data to the highest bidder.") %></p>
                
                    <p>
                        <img src="/img/story_part_5_mobile.png" class="story_img story_right" alt="part_03">
                        <%- gettext("And these would not be possible without your real IP address.") %>
                        <br><br>
                        <%- gettext("By hiding your real IP you can make yourself immune to all these issues.") %>
                        
                    </p>

                </div>


                <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
                <p class="under_btn"><%- gettext('30-day money-back guarantee') %></p>
            </div>
        </section>

        <section class="scew_bg blue_bg">
            <div class="unscew_bg screen_size center_section">
                <h1 class="white_text"><%- gettext("Hiding your IP will forever change your online experience") %></h1>
                <div class="benefits">
                    <div class="box_container" hightG="benefit-group">
                        <div class="orange_box"></div>
                        <div class="white_box">
                                <img src="/img/icon_fingerprint.png" alt="fingerprint">
                                <h3><%- gettext("Total online privacy") %></h3>
                                <p><%- gettext("Since your real IP address is the one that holds all the information that can be used to track you, when you browse will ZenMate VPN, you’ll become an Internet ninja. You’ll still be able to access your favorite websites and more, but no one will ever know you’re doing it.") %></p>
                        </div>
                    </div>

                     <div class="box_container" hightG="benefit-group">
                        <div class="orange_box"></div>
                         <div class="white_box">
                                <img src="/img/icon_globus.png" alt="globus">
                                <h3><%- gettext("Zero Internet restrictions") %></h3>
                                <p><%- gettext("ZenMate VPN is like an all-access pass to the Internet. You’ll be able to make the most of your streaming subscriptions by access the full content library of services such as Netflix US, HBO Now, or YouTube. The possibilities are endless.  And because ZenMate has servers installed in over 30 countries across 6 continents, you can change your IP in order to forever eliminate geo-restrictions and censorship.") %></p>
                        </div>
                    </div>
                </div>

                <div class="benefits">
                    <div class="box_container" hightG="benefit-group">
                        <div class="orange_box"></div>
                        <div class="white_box">
                                <img src="/img/icon_anonymouse.png" alt="anonymouse">
                                <h3><%- gettext("Torrent safely and anonymously") %></h3>
                                <p><%- gettext("Torrenting is not safe anymore. The risks you expose yourself by downloading files without a VPN range from getting your Internet speed significantly reduced by your ISP and all the way to getting huge fines. Why take the chance? Let ZenMate give you total online anonymity and download with complete confidence and peace of mind.") %></p>
                        </div>
                    </div>

                    <div class="box_container" hightG="benefit-group">
                        <div class="orange_box"></div>
                        <div class="white_box">
                                <img src="/img/icon_shopping.png" alt="shopping">
                                <h3><%- gettext(" Find the best online shopping deals") %></h3>
                                <p><%- gettext("Here’s something you may not be aware of. Online retailers – from sports stores to travel websites – show different prices to different visitors based on those visitors’ geographical location. By changing your IP address, you can unlock surprisingly big discounts. Pro tip: you can potentially save hundreds of dollars on your next holiday hotel room.") %></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="screen_size ninja_section desktop_ninja">
            <div class="sides">
                <h1><%- gettext("How ZenMate turns you invisible online") %></h1>
                <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
                <p class="under_btn"><%- gettext('30-day money-back guarantee') %></p>
            </div>

            <div class="sides">
                <p><%- gettext(" Your IP address is the trigger that allows internet restrictions, censorship, spying, or hacking. That means without it none of that would be possible.") %></p>
                <p class="bold_text"><%- gettext("So, how does ZenMate VPN manage to hide your IP?") %></p>
                <p><%- gettext("Think of ZenMate as a middle-man between you and your Internet connection. Instead of connecting directly to the Internet, you let ZenMate do it for you. By doing so, your IP address gets replaced by one of ZenMate’s. And your real IP remains unknown to the websites you want to access.") %></p>
            </div>
        </section>

        <section class="screen_size ninja_section mobile_ninja">
            <h1><%- gettext("How ZenMate turns you invisible online") %></h1>
            <img src="/img/orange_line_mobile.png" class="orange_line" alt="line">

            <p><%- gettext(" Your IP address is the trigger that allows internet restrictions, censorship, spying, or hacking. That means without it none of that would be possible.") %></p>
            <p class="bold_text"><%- gettext("So, how does ZenMate VPN manage to hide your IP?") %></p>
            <p><%- gettext("Think of ZenMate as a middle-man between you and your Internet connection. Instead of connecting directly to the Internet, you let ZenMate do it for you. By doing so, your IP address gets replaced by one of ZenMate’s. And your real IP remains unknown to the websites you want to access.") %></p>

            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
            <p class="under_btn"><%- gettext('30-day money-back guarantee') %></p>
        </section>

        <section class="screen_size shield_section desktop_shield">
            <div class="column first">
                <div class="orange_box">
                    <h1><%- gettext("Why ZenMate VPN?") %></h1>
                </div>
            </div>

            <div class="column second">
                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h3><%- gettext("Strict no-logs policy") %></h3>
                    <p><%- gettext("Our servers keep no type of connection, general information or VPN usage logs. That’s the only way our users can experience total, uncompromised privacy.") %></p>
                </div>

                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h3><%- gettext("Zero speed sacrifices") %></h3>
                    <p><%- gettext("Should you sacrifice your Internet connection’s speed for privacy? With some VPN it may be the case, but not with ZenMate. We offer our users access to a state-of-the-art server infrastructure that makes zero speed compromises.") %></p>
                </div>
            </div>

             <div class="column third">
                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h3><%- gettext("One-click connect") %></h3>
                    <p><%- gettext("Everyone deserves their right for privacy. That’s why we tired making ZenMate as intuitive and user friendly as possible. That means you don’t need to be a tech-guru in order to squeeze all the benefits out of our VPN. One-click is enough to get ZenMate running at full throttle.") %></p>
                </div>

                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h3><%- gettext("Protect up to 5 devices") %></h3>
                    <p><%- gettext("Let’s be honest. Nowadays most of us use the internet on our phones more than we do on our computer. But that doesn’t mean we shouldn’t secure all of our Internet connected devices. That’s why one ZenMate VPN subscription is enough to cover up to 5 different devices. And don’t matter about their operating system. ZenMate is optimized for Windows, Mac, iOS, Android, and even routers or gaming consoles.") %></p>
                </div>
            </div>
        </section>

         <section class="screen_size shield_section mobile_shield">
            <div class="dark_bg">
                <div class="orange_box">
                    <h1><%- gettext("Why ZenMate VPN?") %></h1>
                </div>

                 <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h2><%- gettext("Strict no-logs policy") %></h2>
                    <p><%- gettext("Our servers keep no type of connection, general information or VPN usage logs. That’s the only way our users can experience total, uncompromised privacy.") %></p>
                </div>

                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h2><%- gettext("Zero speed sacrifices") %></h2>
                    <p><%- gettext("Should you sacrifice your Internet connection’s speed for privacy? With some VPN it may be the case, but not with ZenMate. We offer our users access to a state-of-the-art server infrastructure that makes zero speed compromises.") %></p>
                </div>

                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h2><%- gettext("One-click connect") %></h2>
                    <p><%- gettext("Everyone deserves their right for privacy. That’s why we tired making ZenMate as intuitive and user friendly as possible. That means you don’t need to be a tech-guru in order to squeeze all the benefits out of our VPN. One-click is enough to get ZenMate running at full throttle.") %></p>
                </div>

                <div class="feature">
                    <img src="/img/orange_checkmark.png" class="checkmark" alt="checkmark">
                    <h2><%- gettext("Protect up to 5 devices") %></h2>
                    <p><%- gettext("Let’s be honest. Nowadays most of us use the internet on our phones more than we do on our computer. But that doesn’t mean we shouldn’t secure all of our Internet connected devices. That’s why one ZenMate VPN subscription is enough to cover up to 5 different devices. And don’t matter about their operating system. ZenMate is optimized for Windows, Mac, iOS, Android, and even routers or gaming consoles.") %></p>
                </div>
            </div>
        </section>

        <section class="screen_size logos_section desktop_logo">
            <div class="logo_says">
                <h1><%- gettext("Here’s what experts have to say...") %></h1>
                <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
                <p class="under_btn"><%- gettext('30-day money-back guarantee') %></p>
            </div>

            <div class="logo_says">
                <img src="/img/partner_pcworld.png" alt="pcworld">
                <p><%- gettext("\"ZenGuard's ZenMate VPN is a solid choice for VPN users that don't want a lot of fuss\"") %></p>
            </div>

            <div class="logo_says">
                <img src="/img/partner_vpnmentor.png" alt="vpnmentor">
                <p><%- gettext("\"Simple and straightforward, great if that is what you are looking for.\"") %></p>
            </div>

            <div class="logo_says">
                <img src="/img/partner_top10vpn.png" alt="top10vpn">
                <p><%- gettext("\"ZenMate allows users to travel invisibly through the online network, anytime, anywhere.\"") %></p>
            </div>
        </section>

        <section class="screen_size mobile_logo">
            <h1><%- gettext("Here’s what experts have to say...") %></h1>
            <div class="logos_section">
                <div class="logo_says">
                    <img src="/img/partner_pcworld.png" alt="pcworld">
                    <p><%- gettext("\"ZenGuard's ZenMate VPN is a solid choice for VPN users that don't want a lot of fuss\"") %></p>
                </div>

                <div class="logo_says">
                    <img src="/img/partner_vpnmentor.png" alt="vpnmentor">
                    <p><%- gettext("\"Simple and straightforward, great if that is what you are looking for.\"") %></p>
                </div>

                <div class="logo_says">
                    <img src="/img/partner_top10vpn.png" alt="top10vpn">
                    <p><%- gettext("\"ZenMate allows users to travel invisibly through the online network, anytime, anywhere.\"") %></p>
                </div>
            </div>
            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
            <p class="under_btn"><%- gettext('30-day money-back guarantee') %></p>
        </section>
    </div>