   <div class="body_container">

        <section class="zenmate_steps">
            <h1><%- gettext('Set up your own private downloading headquarters in 3 quick steps') %></h1>
            <h3><%- gettext('It takes less than 3 minutes') %></h3>
            <div class="flex-section">
                <div>
                    <h4 class="steps-text"> 
                        <%- gettext('Subscribe to ZenMate VPN') %>
                    </h4>
                </div>
                <div>
                    <h4 class="steps-text"> 
                        <%- gettext('Download ZenMate VPN') %>
                    </h4>
                </div>
                <div>
                    <h4 class="steps-text"> 
                        <%- gettext('Start ZenMate & Download your Files') %>
                    </h4>
                </div>
            </div>
            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
            <h5><%- gettext('30-day money-back guarantee') %></h5>
        </section>

        <section class="trust">
            <img src="/img/map.png" class="picture_map">
            <h1><%- gettext('Join over 45 million ZenMate users who’ve discovered online freedom') %></h1>
            <h3><%- gettext('Limitless downloads | Total anonymity | Elite encryption standards') %></h3>
            <div class="flex-section">
                <div>
                    <img src="/img/wifi_protection.png" class="features_icon">
                    <span><%- gettext('WiFi Protection') %></span>
                </div>
                <div>
                    <img src="/img/bypass_geo.png" class="features_icon">
                    <span><%- gettext('Bypass geo-restrictions') %></span>
                </div>
                <div>
                    <img src="/img/unblock_streaming.png" class="features_icon">
                    <span><%- gettext('Unblock streaming') %></span>
                </div>
                <div>
                    <img src="/img/internet_ninja.png" class="features_icon">
                    <span><%- gettext('Torrent like an Internet ninja') %></span>
                </div>
            </div>
            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Get ZenMate VPN') %></a>
            <h5><%- gettext('30-day money-back guarantee') %></h5>
        </section>

        <section class="features">
            <div class="flex-section">
                <div>
                    <img src="/img/devices_icon.png" class="features_icon">
                    <h2><%- gettext('Secure up to 5 different devices') %></h2>
                    <p><%- gettext('One ZenMate subscription is enough to grant you total invisibility across 5 different devices – be it an Android or iOS smartphone, tablets, Windows or Mac desktops.') %></p>
                </div>
                <div>
                    <img src="/img/fingerprint_icon.png" class="features_icon">
                    <h2><%- gettext('Download in complete secrecy') %></h2>
                    <p><%- gettext('ZenMate VPN guarantees total torrenting anonymity through its strict No-Logging policy.') %></p>
                </div>
            </div>
        </section>
        
    </div>