
    <div class="body_container">

        <section class="no_limits">
            <div class="text">
                <h1><%- gettext('Embrace an Internet without limit') %></h1>
                <p>
                <%- gettext('Censorship, restrictions and geo-blocking have no place on the Internet. ZenMate VPN fights for your right for a free internet by allowing access to: Netflix, BBC, Hulu, and all major streaming providers.') %>
                </p>
                <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Claim your right for a free internet') %></a>
            </div>
            <div class="img_side">
                <img src="/img/shield_plane.png">
            </div>
        </section>

        <section class="trust">
            <div class="text">
                <h1><%- gettext('German excellence software<br> trusted by') %></h1>
                <div class="big_title"><%- format(gettext('%s users'),["+45M"]) %></div>
                <p>
                <%- gettext('As a 100% German-made VPN, we cut no corners on service quality. It\'s perhaps one of the reasons why 45+ million people worldwide are using ZenMate VPN.') %>
                </p>
            </div>
            <img src="/img/map.png" class="picture_map">
        </section>

        <section class="encryption">
            <div class="img_side">
                <img src="/img/ninja.png">
            </div>
            <div class="text">
                <h1><%- gettext('Browse like an internet ninja') %></h1>
                <p>
                <%- gettext('ZenMate uses 256-bit AES encryption – unbreakable even by supercomputers - that makes it impossible for third parties to spy or track your online habits.') %>
                </p>
                <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Claim your right for a free internet') %></a>
            </div>
        </section>
        
    </div>