
<script src="<%= asset('js/navbar.js') %>"></script>

<nav id="navbar-main" class="navbar navbar-default" role="navigation">
    <div class="container">
        <a href ="<%- offerLink %>">
            <img src="img/pia_logo.svg" class="logo">
        </a>
        <div class="d-flex align-items-center">
            <a href ="<%- offerLink %>" class="btn_pia green small mr-lg-3 mr-2"><%- gettext("Join now") %></a>
            <div id="language">
                <div class="language-content">
                    <a id="eng" class="active">
                        <img class="lang-flag" src="img/flags/EN.png"/>
                        <span class="lang-text">English</span>
                    </a>
                </div>
                <div class="languages_list">
                    <a href="//www.<%- urlForLang %>" id="eng" class="lang">
                        <img class="lang-flag" src="img/flags/EN.png"/>
                        <span class="lang-text">English</span>
                    </a>
                    <a href="//deu.<%- urlForLang %>" id="deu" class="lang">
                        <img class="lang-flag" src="img/flags/DE.png"/>
                        <span class="lang-text">DEUTSCH</span>
                    </a>
                    <a href="//fra.<%- urlForLang %>" id="fra" class="lang">
                        <img class="lang-flag" src="img/flags/FR.png"/>
                        <span class="lang-text">FRANÇAIS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script async>
    $(window).ready(function() {
        const language = '<%- lang %>';
        if ($('#language a.active').attr('id') !== language) {
            $('#language .languages_list a#' + language).clone().appendTo('#language .language-content');
            $('#language a.active').remove();
            $('#language .language-content a#' + language).addClass('active');
            $('#language .language-content a#' + language).removeAttr('href');
        }
    });
</script>
