
<script src="<%= asset('js/navbar.js') %>"></script>

<nav id="navbar-main" class="navbar navbar-default" role="navigation">
    <div class="container">
        <a href ="<%- offerLink %>">
            <img src="img/pia_logo.svg" class="logo">
        </a>
        <a href ="<%- offerLink %>" class="btn_pia green small"><%- gettext("Join now") %></a>
        <div id="language">
            <div class="language-content">
                <a id="en" class="active">
                    <img class="lang-flag" src="img/flags/EN.png"/>
                    <span class="lang-text">English</span>
                </a>
            </div>
            <div class="languages_list">
                <a href="/en/<%- pageName + urlSearch %>" id="en" class="lang">
                    <img class="lang-flag" src="img/flags/EN.png"/>
                    <span class="lang-text">English</span>
                </a>
                <a href="/de/<%- pageName + urlSearch %>" id="de" class="lang">
                    <img class="lang-flag" src="img/flags/DE.png"/>
                    <span class="lang-text">DEUTSCH</span>
                </a>
                <a href="/fr/<%- pageName + urlSearch %>" id="fr" class="lang">
                    <img class="lang-flag" src="img/flags/FR.png"/>
                    <span class="lang-text">FRANÇAIS</span>
                </a>
                <a href="/ru/<%- pageName + urlSearch %>" id="ru" class="lang">
                    <img class="lang-flag" src="img/flags/RU.png"/>
                    <span class="lang-text">РУССКИЙ</span>
                </a>
                <a href="/nl/<%- pageName + urlSearch %>" id="nl" class="lang">
                    <img class="lang-flag" src="img/flags/NL.png"/>
                    <span class="lang-text">NEDERLANDS</span>
                </a>
                <a href="/es/<%- pageName + urlSearch %>" id="es" class="lang">
                    <img class="lang-flag" src="img/flags/ES.png"/>
                    <span class="lang-text">ESPAÑOL</span>
                </a>
                <a href="/ko/<%- pageName + urlSearch %>" id="ko" class="lang">
                    <img class="lang-flag" src="img/flags/KO.png"/>
                    <span class="lang-text">한국어</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<script>
    $(window).ready(function() {

        const language = '<%- lang %>';
        if ($('#language a.active').attr('id') !== language) {
            $('#language .languages_list a#' + language).clone().appendTo('#language .language-content');
            $('#language a.active').remove();
            $('#language .language-content a#' + language).addClass('active');
            $('#language .language-content a#' + language).removeAttr('href');
        }
    });
</script>
