<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/everyone-needs-protection.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_white %>
        <header class="mobile d-block d-lg-none text-center">
            <div class="bg">
                <div class="container color_dark_green">
                    <h2><%- gettext("Everyone needs<br><b>Protection</b>") %></h2>
                    <div class="price my-md-3 my-1">
                        <span class="for"><%- gettext("for ") %></span>
                        <span class="fullprice"><%- prices.blocks[1].USD.perMonthFull %></span>
                        <span class="mo"><%- gettext("/mo") %></span>
                    </div>
                    <div class="circle_discount_container">
                        <div class="title text-center"><%- gettext("today's<br>offer") %></div>
                        <div class="discount_container">
                            <div class="discount">-<%- prices.blocks[1].discount %></div>
                            <div class="percent">%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub_bg">
                <div class="container color_dark_green">
                    <a href="<%- offerLink %>" class="btn_pia orange"><%- gettext("Get Private Internet Access") %></a>
                    <h5 class="sub_btn my-3"><%- format(gettext("Try it risk free! %s day money back guarantee"), [30]) %></h5>
                    <div class="brands">
                        <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                        <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                        <div class="d-inline-block"><img src="img/brand_logo_cnet.png" alt="cnet"></div>
                    </div>
                </div>
            </div>
        </header>

        <header class="d-lg-block d-none">
            <div class="container color_dark_green d-flex justify-content-center">
                <div class="col-5 d-flex justify-content-center flex-column text-center">
                    <h2><%- gettext("Everyone needs<br><b>Protection</b>") %></h2>
                    <div class="price my-3">
                        <span class="for"><%- gettext("for ") %></span>
                        <span class="fullprice"><%- prices.blocks[1].USD.perMonthFull %></span>
                        <span class="mo"><%- gettext("/mo") %></span>
                    </div>
                    <div class="d-block">
                        <a href="<%- offerLink %>" class="btn_pia orange"><%- gettext("Get Private Internet Access") %></a>
                        <h5 class="sub_btn my-3"><%- format(gettext("Try it risk free! %s day money back guarantee"), [30]) %></h5>
                    </div>
                    <div class="brands">
                        <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                        <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                        <div class="d-inline-block"><img src="img/brand_logo_cnet.png" alt="cnet"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="circle_discount_container">
                        <div class="title text-center"><%- gettext("today's<br>offer") %></div>
                        <div class="discount_container">
                            <div class="discount">-<%- prices.blocks[1].discount %></div>
                            <div class="percent">%</div>
                        </div>
                    </div>
                    <div class="header_circle">
                        <div class="circle">
                            <canvas id="canvas"></canvas>
                            <img src="img/Everyone_needs_Protection_bg_man2.png" alt="man" class="man">
                            <div class="rain front-row"></div>
                            <div class="rain back-row"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <% include ../body/hp %>
        <% include ../partials/footers/people_discount %>
        <% include ../partials/tag_manager %>
    </body>
    <script src="<%= asset('js/rain.js') %>" async></script>
</html>