<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/firetv.css') %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

    <body>
        <% include ../navbar/navbar_dark %>  
        <% include ../partials/expose_bar %>  
        <header class="color_white parallax_container">
            <% include ../navbar/header_bar %>  
            <div class="container">
                <div class="col-65">
                    <h1 class="mt-3 mb-0"><%- gettext('Unblock <span>new streaming content</span><br><small>on your <span>Fire Stick TV</span></small>') %></h1>
                    <h4 class="mb-0 font-weight-light"><%- gettext("with Private Internet Access VPN") %></h4>
                    <div class="d-inline-block text-center position-relative bod">
                        <a href="<%- offerLink %>" class="btn_wave orange my-3 d-md-inline-block d-none"><%- gettext("Get Private Internet Access VPN") %></a>
                        <% include ../partials/discount_block %>
                        <% include ../partials/b2mfree_new %>
                    </div>
                    <div class="d-md-block text-left d-none">
                        <div class="text-center d-inline-block d-none">
                            <p><%- format(gettext("Try it risk free! <i class='fas fa-award'></i><span class='text-uppercase'> %s-day money back guarantee</span>"), [30]) %></p>
                            <% if (query.brand) { %>
                                <% include ../partials/brand %>
                            <% } else { %>
                                <div class="brands d-block">
                                    <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                                    <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                                    <div class="d-inline-block"><img src="img/brand_logo_cnet_white.png" alt="cnet"></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container stream">
                <div class="bg_container parallax d-md-block">
                    <img src="img/amazon_stripe.jpg" alt="streaming" class="streaming desktop">
                    <img src="img/amazon_stripe_tablet1.jpg" alt="streaming" class="streaming ipad">
                    <img src="img/amazon_stripe_mobi1.jpg" alt="streaming" class="streaming mobi">
                    <img src="img/streaming_LP4_window.png?v2" alt="header" class="header desktop">
                    <img src="img/fire_LP_tablet_header_window.png" alt="header" class="header ipad">
                    <img src="img/fire_lp_mobi_header_window.png" alt="header" class="header mobi">
                    <img src="img/fireTvStick_LP_amazon.png" alt="amazon" class="amazon">
                    <img src="img/fireTvStick_LP_hand.png" alt="hand" class="hand d-md-block d-none">
                    <img src="img/fire_LP_mobi_hand.png" alt="hand" class="hand d-md-none d-block">
                </div>
            </div>
            <div class="d-block d-md-none mobile_header">
                <div class="dark py-2">
                    <div class="container d-flex align-items-center">
                        <div class="mr-3">
                            <% if (query.brand) { %>
                                <% include ../partials/brand %>
                            <% } else { %>
                                <div class="brands d-block">
                                    <div class="d-inline-block mr-1"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                                    <div class="d-inline-block mr-1"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                                    <div class="d-inline-block"><img src="img/brand_logo_cnet_white.png" alt="cnet"></div>
                                </div>
                            <% } %>
                        </div>
                        <div>
                            <p class="mb-0"><%- format(gettext("Try it risk free!<br><span class='text-uppercase'>%s-day money back guarantee</span>"), [30]) %></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a href="<%- offerLink %>" class="btn_wave orange"><%- format(gettext("Private Internet Access VPN for %s% OFF"),[prices.blocks[1].discount]) %></a>
                </div>
            </div>
            <div class="corners"></div>
        </header>
        <% include ../partials/trusted_companies %>
        <section id="streaming_needs">
            <div class="container text-center">
                <div class="mb-lg-5 mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s">
                    <h2 class="mb-0"><%- gettext("Tired of watching the same shows and movies on streaming platforms?") %></h2>
                    <p class="my-lg-5 my-3 color_dark mb-"><%- gettext("Private Internet Access changes your IP address to one from a different location so you can discover new streaming properties.<br><b>Sign up to Private Internet Access today and unblock tons of new content from different countries around the world.</b>") %></p>
                </div>
                <div class="wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s">
                    <h2 class="my-5"><%- gettext("Stream new content on your Fire Stick TV:") %></h2>
                    <div class="d-flex justify-content-xl-between justify-content-sm-center align-items-center unblock mb-5 flex-wrap">
                        <div class="col-xl-2 col-sm-4 col-6 mb-3 "><img src="img/Netflix_logo.svg" alt="Netflix"></div>
                        <div class="col-xl-2 col-sm-4 col-6 mb-3 "><img src="img/logo_HBOGO.svg" alt="HBOGO"></div>
                        <div class="col-xl-2 col-sm-4 col-6 mb-3 "><img src="img/logo_Disney+.svg" alt="Disney+"></div>
                        <div class="col-xl-2 col-sm-4 col-6 mb-3 "><img src="img/logo_Amazon_Prime_Video.svg" alt="Prime Video"></div>
                        <div class="col-xl-2 col-sm-4 col-6 mb-3 "><img src="img/logo_Comedy_Central.svg" alt="Comedy Central"></div>
                        <div class="col-xl-2 col-sm-4 col-6 mb-3 "><img src="img/logo_BBC_iPlayer.svg" alt="BBC iPlayer"></div>
                    </div>
                    <a href="<%- offerLink %>" class="btn_wave orange my-3 d-md-inline-block d-none"><%- gettext("Get Private Internet Access VPN") %></a>
                </div>
                <h2 class="my-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".8s"><%- gettext("A must have for your Fire Stick TV") %></h2>
                <div class="d-md-flex justify-content-md-between justify-content-center flex-lg-row flex-column d-none need wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".8s">
                    <div class="col-lg-4 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0 ">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_streaming.svg" alt="Infinity"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("Access content from all over the world") %></h6>
                            <p class="mb-0"><%- format(gettext("Private Internet Access has thousands of servers in over %s countries world-wide. Connect to either one of them and discover new films, TV shows and documentaries."),[29]) %></p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_unblocking.svg" alt="One click"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("Override geographical restrictions") %></h6>
                            <p class="mb-0"><%- gettext("Connect to a server from a different country with just one click, straight from the Private Internet Access app, and unblock content that's not available in your country.") %></p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_devices.svg" alt="Devices"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("Stream on multiple devices") %></h6>
                            <p class="mb-0"><%- format(gettext("With just 1 Private Internet Access VPN subscription you can use the app on up to %s devices at the same time. This way you can unblock content on anything that has a screen and an internet connection."),[10]) %></p>
                        </div>
                    </div>
                </div>

                <div class="d-block d-md-none accordion need" id="accordion_needs">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs1" 
                                    aria-expanded="false" aria-controls="needs1">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_streaming.svg" alt="Secret" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("Access content from all over the world") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs1" class="collapse" 
                            aria-labelledby="heading1" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- format(gettext("Private Internet Access has thousands of servers in over %s countries world-wide. Connect to either one of them and discover new films, TV shows and documentaries."),[29]) %></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs2" 
                                    aria-expanded="false" aria-controls="needs2">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_unblocking.svg" alt="One click" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("Override geographical restrictions") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs2" class="collapse" 
                            aria-labelledby="heading2" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- gettext("Connect to a server from a different country with just one click, straight from the Private Internet Access app, and unblock content that's not available in your country.") %></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs3" 
                                    aria-expanded="false" aria-controls="needs3">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_devices.svg" alt="Devices" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("Stream on multiple devices") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs3" class="collapse" 
                            aria-labelledby="heading3" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- format(gettext("1 Private Internet Access subscription can be used on up to %s devices simultaneously. Share Private Internet Access with your entire family!"),[10]) %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <%- include('../partials/steps', {title: gettext('All it takes are 4 easy steps:'),
                                            subtitle: gettext('Watch your favorite movies and shows in minutes'),
                                            steps:[
                                                    gettext('<b>Subscribe</b><br>to Private Internet Access'),
                                                    gettext('<b>Download</b><br>Private Internet Access'),
                                                    gettext('<b>Login</b><br>sing your username and password'),
                                                    gettext('<b>Turn on</b><br>Private Internet Access and connect to the location of your choice')
                                                ],
                                            footer: gettext('You’re ready to start streaming with <span>Private Internet Access</span>')
        }) %>
        <%- include('../partials/new_faq', {title: gettext('Got questions about streaming? <span class="color_pia_green">Here are a few of our FAQs</span>'),
                                    qas:[
                                            {
                                                'question': gettext('Is it safe to stream with Private Internet Access?'),
                                                'answer': format(gettext('Yes. Private Internet Access provides a VPN service with servers in %s locations across %s countries, including the United States, United Kingdom, Japan, and more. The better question is: Is it safe to stream without Private Internet Access?'),[49,29])
                                            },
                                            {
                                                'question': gettext('Do you have a refund policy?'),
                                                'answer': format(gettext('Private Internet Access has a no questions asked %s-day money back guarantee. Subscribe to Private Internet Access today to start streaming now!'),[7])
                                            },
                                            {
                                                'question': gettext('Will my IP address be exposed to streaming services or websites?'),
                                                'answer': gettext('By using Private Internet Access, you are encrypting your traffic through our VPN tunnel which accesses the internet from one of our servers’ IP addresses. Streaming services and websites will only see our Private Internet Access IP address, not your device’s IP address.')
                                            },
                                            {
                                                'question': gettext('Does Private Internet Access limit the bandwidth that streamers can use?'),
                                                'answer': gettext('Private Internet Access is the premier no log VPN - this means that we don’t even know if you are streaming. All our servers offer unlimited bandwidth and we do not throttle our users. Period. Sign up for Private Internet Access today to enjoy the unlimited and uncensored internet.')
                                            },
                                            {
                                                'question': gettext('Will Private Internet Access be blocked on my favorite streaming service or website?'),
                                                'answer': gettext('Private Internet Access believes in an open internet and is always working to make sure that no blocks exist for our VPN users. Use our service today to see why Private Internet Access is the best VPN for streaming online.')
                                            }
                                        ]
        }) %>
        <% include ../partials/footers/dark_footer %>
        <% include ../partials/tag_manager %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        <script>new WOW().init();</script>
    </body>

</html>