<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/kodi.css') %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

    <body>
        <% include ../navbar/navbar_dark %>  
        <% include ../partials/expose_bar %>  
        <header class="color_white parallax_container">
            <% include ../navbar/header_bar %>  
            <div class="container">
                <div class="col-65">
                    <h1 class="mt-3 mb-0"><%- gettext('Discover an endless amount of <br><b>streaming content</b> on <span>KODI</span>') %></h1>
                    <h3 class="mb-0"><%- gettext("Access geo-blocked TV shows and movies <br>while staying anonymous online") %></h3>
                    <div class="d-inline-block text-center position-relative">
                        <a href="<%- offerLink %>" class="btn_wave orange my-3 d-md-inline-block d-none"><%- gettext("Get Private Internet Access VPN") %></a>
                        <% include ../partials/discount_block %>
                        <% include ../partials/b2mfree_new %>
                    </div>
                    <div class="d-md-block text-left d-none">
                        <div class="text-center d-inline-block d-none">
                            <p><%- format(gettext("Try it risk free! <i class='fas fa-award'></i><span class='text-uppercase'> %s-day money back guarantee</span>"), [30]) %></p>
                            <% if (query.brand) { %>
                                <% include ../partials/brand %>
                            <% } else { %>
                                <div class="brands d-block">
                                    <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                                    <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                                    <div class="d-inline-block"><img src="img/brand_logo_cnet_white.png" alt="cnet"></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container stream">
                <div class="bg_container parallax d-md-block">
                    <img src="img/kodi2.jpg" alt="streaming" class="streaming">
                    <img src="img/streaming_LP4_window.png" alt="header" class="header">
                    <img src="img/streaming_LP4_kodi_logo.png" alt="kodi" class="kodi">
                    <img src="img/streaming_LP4_hand.png" alt="hand" class="hand">
                </div>
            </div>
            <div class="d-block d-md-none mobile_header">
                <div class="dark py-2">
                    <div class="container d-flex align-items-center">
                        <div class="mr-3">
                            <% if (query.brand) { %>
                                <% include ../partials/brand %>
                            <% } else { %>
                                <div class="brands d-block">
                                    <div class="d-inline-block mr-1"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                                    <div class="d-inline-block mr-1"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                                    <div class="d-inline-block"><img src="img/brand_logo_cnet_white.png" alt="cnet"></div>
                                </div>
                            <% } %>
                        </div>
                        <div>
                            <p class="mb-0"><%- format(gettext("Try it risk free!<br><span class='text-uppercase'>%s-day money back guarantee</span>"), [30]) %></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a href="<%- offerLink %>" class="btn_wave orange"><%- format(gettext("Private Internet Access VPN for %s% OFF"),[prices.blocks[1].discount]) %></a>
                </div>
            </div>
            <div class="corners"></div>
        </header>
        <% include ../partials/trusted_companies %>
        <section id="streaming_needs">
            <div class="container text-center">
                <div class="mb-lg-5 mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s">
                    <h2 class="mb-0"><%- gettext("Don’t get into trouble while streaming on Kodi") %></h2>
                    <p class="my-lg-5 my-3 color_dark mb-"><%- gettext("Whether you use Kodi TV to watch your personal content library or for the titles you find on their website, make sure nobody will be able to find out what you're doing online.<br><b>Why? </b>Streaming content on Kodi works is basically P2P torrenting which might be illegal in your country. Luckily, with the <b>Private Internet Access VPN</b>, you can make all your internet activity totally anonymous. So, you'll never have any trouble with governmental authorities while using Kodi.") %></p>
                    <a href="<%- offerLink %>" class="btn_wave orange my-3 d-md-inline-block d-none"><%- gettext("Sign up for Private Internet Access today!") %></a>
                </div>
                <div class="d-md-flex justify-content-md-between justify-content-center flex-lg-row flex-column d-none wow fadeInUp"  data-wow-duration=".4s" data-wow-delay=".8s">
                    <div class="col-lg-3 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_p2p.svg" alt="Infinity"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("P2P traffic allowed") %></h6>
                            <p class="mb-0"><%- gettext("Private Internet Access supports P2P protocols such as torrents.") %></p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_no_logs.svg" alt="No logs"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("No Logs Policy") %></h6>
                            <p class="mb-0"><%- gettext("Private Internet Access never records its users' online activity and never keeps any logs, so you'll have complete anonymity from the moment you connect to our servers.") %></p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_break_wall.svg" alt="One click"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("Bypass geographical restrictions") %></h6>
                            <p class="mb-0"><%- gettext("Once you have chosen the location you want to use the internet from, Private Internet Access will always be one click away.") %></p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-lg-center text-left d-lg-block d-flex align-items-center mb-5 mb-lg-0">
                        <div class="mb-3 mr-3 mr-lg-0"><img src="img/pia_lockman/circle_box_pia_lockman_devices.svg" alt="One click"></div>
                        <div>
                            <h6 class="my-2 text-uppercase"><%- gettext("Use Kodi TV on multiple devices") %></h6>
                            <p class="mb-0"><%- format(gettext("1 Private Internet Access subscription can be used on up to %s devices simultaneously. Share Private Internet Access with your whole family!"),[10]) %></p>
                        </div>
                    </div>
                </div>

                <div class="d-block d-md-none accordion" id="accordion_needs">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs1" 
                                    aria-expanded="false" aria-controls="needs1">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_p2p.svg" alt="Secret" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("P2P traffic allowed") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs1" class="collapse" 
                            aria-labelledby="heading1" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- gettext("Private Internet Access supports P2P protocols such as torrents.") %></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs2" 
                                    aria-expanded="false" aria-controls="needs2">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_no_logs.svg" alt="No Logs" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("No Logs Policy") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs2" class="collapse" 
                            aria-labelledby="heading2" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- gettext("Private Internet Access never records its users' online activity and never keeps any logs, so you'll have complete anonymity from the moment you connect to our servers.") %></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs3" 
                                    aria-expanded="false" aria-controls="needs3">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_break_wall.svg" alt="Best VPN" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("Bypass geographical restrictions") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs3" class="collapse" 
                            aria-labelledby="heading3" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- gettext("Once you have chosen the location you want to use the internet from, Private Internet Access will always be one click away.") %></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link d-flex align-items-center justify-content-between w-100" type="button" 
                                    data-toggle="collapse" data-target="#needs4" 
                                    aria-expanded="false" aria-controls="needs4">
                                <div class="d-flex align-items-center text-left">
                                    <img src="img/pia_lockman/circle_box_pia_lockman_devices.svg" alt="devices" class="mr-3">
                                    <h6 class="mb-0 text-uppercase"><%- gettext("Use Kodi TV on multiple devices") %></h6>
                                </div>
                                <div class="collapse_icon">
                                    <i class="fal fa-plus"></i>
                                    <i class="fal fa-minus"></i>
                                </div>
                            </button>
                        </div>
                        <div id="needs4" class="collapse" 
                            aria-labelledby="heading4" data-parent="#accordion_needs">
                            <div class="card-body">
                                <p class="mb-0 text-left"><%- format(gettext("1 Private Internet Access subscription can be used on up to %s devices simultaneously. Share Private Internet Access with your whole family!"),[10]) %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <%- include('../partials/steps', {title: gettext('Start streaming with Private Internet Access in minutes'),
                                            subtitle: gettext('Watch Kodi anonymously in 4 easy steps'),
                                            steps:[
                                                    gettext('<b>Subscribe</b><br>to Private Internet Access'),
                                                    gettext('<b>Download</b><br>Private Internet Access'),
                                                    gettext('<b>Login</b><br>on the Private Internet Access client with your username and password'),
                                                    gettext('<b>Turn on</b><br>Private Internet Access and connect to the location of your choice')
                                                ],
                                            footer: gettext('You’re ready to start using <span>Private Internet Access</span> with your Kodi TV')
        }) %>
        <%- include('../partials/new_faq', {title: gettext('Got questions? <span class="color_pia_green">Check out our FAQs</span>'),
                                    qas:[
                                            {
                                                'question': gettext('Is it safe to use Kodi with Private Internet Access?'),
                                                'answer': format(gettext('Yes. Private Internet Access provides a VPN service with servers in %s locations across %s countries, including the United States, United Kingdom, Japan, and more. The better question is: Is it safe to use Kodi without Private Internet Access?'),[49,29])
                                            },
                                            {
                                                'question': gettext('Do you have a refund policy?'),
                                                'answer': format(gettext('Yes. Private Internet Access has a no questions asked %s-day money back guarantee. Subscribe to Private Internet Access today to start streaming now!'),[7])
                                            },
                                            {
                                                'question': gettext('Will my IP address be exposed while using Kodi add-ons?'),
                                                'answer': gettext('No. By using Private Internet Access, you are encrypting your traffic through our VPN tunnel which accesses the internet from one of our servers’ IP addresses. Any service or website accessed will only see our Private Internet Access IP address, not your device’s IP address.')
                                            },
                                            {
                                                'question': gettext('Does Private Internet Access limit bandwidth for Kodi users?'),
                                                'answer': gettext('No. Private Internet Access is the premier no log VPN - this means that we don’t even know what software you use in conjunction with ours. All of our servers offer unlimited bandwidth and we do not throttle our users. Period. Sign up for Private Internet Access today to enjoy the unlimited and uncensored internet.')
                                            }
                                        ]
        }) %>
        <% include ../partials/footers/dark_footer %>
        <% include ../partials/tag_manager %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        <script>new WOW().init();</script>
    </body>

</html>