
<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/pages/netflix-space.css') %>">
</head>

<body>
<% include ../partials/coupon %>
    <% include ../navbar/navbar_white %>
    <% include ../partials/lang_button %>
    <header>
        <div class="box_astronaut">
            <img class="object_astronaut" src="/img/astro.png">
        </div>

        <div class="box_tv">
            <img class="object_tv" src="/img/flying_tv.png">
        </div>
        <span class="falling-star"></span><span class="falling-star"></span><span class="falling-star"></span>
        <div class="header_content">
        <img src="/img/netflix_space_logo.png" class="logo-galaxy">
            <div class="header_text">
                <img src="/img/Logos_color.png" class="logo">
                <h1><%- gettext('Watch your Netflix show anywhere you go') %></h1>
                <h3><%- gettext('Access Netflix US with ZenMate VPN') %></h3><br>

                <div class="flex-section">
                    <div>
                        <img src="/img/devices_white_small_icon.png" class="features_icon">
                        <span><%- gettext('Covers up to 5 devices') %></span>
                    </div>
                    <div>
                        <img src="/img/rocket_white_small_icon.png" class="features_icon">
                        <span><%- gettext('Buffer-free streaming') %></span>
                    </div>
                    <div>
                        <img src="/img/satelite_white_small_icon.png" class="features_icon">
                        <span><%- gettext('Flawless connectivity') %></span>
                    </div>
                    <div>
                        <img src="/img/netflix_white_small_icon.png" class="features_icon">
                        <span><%- gettext('The complete Netflix experience') %></span>
                    </div>
                </div>
                <a href="<%- offerLink %>" class="orange_btn"><%- gettext('Unblock Netflix US') %></a>
                <h5><%- gettext('30-day money-back guarantee') %></h5>
                <% include ../partials/brand.ejs %>
            </div>
        </div>
    </header>
    <div class="body_container">
        <section class="zenmate_steps">
            <h1><%- gettext('Easy 1-minute setup') %></h1>
            <h3><%- gettext('Lift all Netflix restrictions in 3 quick steps') %></h3>
            <div class="flex-section">
                <div>
                    <h4 class="steps-text"> 
                        <%- gettext('Subscribe to ZenMate VPN') %>
                    </h4>
                </div>
                <div>
                    <h4 class="steps-text"> 
                        <%- gettext('Download ZenMate VPN') %>
                    </h4>
                </div>
                <div>
                    <h4 class="steps-text"> 
                        <%- gettext('Start up ZenMate and enjoy Netflix US') %>
                    </h4>
                </div>
            </div>
            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Unblock Netflix US') %></a>
            <h5><%- gettext('30-day money-back guarantee') %></h5>
        </section>

        <section class="trust">

            <div class="box_remote">
                <img class="object_remote" src="/img/flying_remote.png">
            </div>
            <img src="/img/map.png" class="picture_map">
            <h3><%- gettext('ZenMate is always one step ahead') %></h3>
            <h1><%- gettext('Our 45+ million users demand the highest standards') %></h1>
        </section>

        <section class="features">
            <div class="flex-section">
                <div>
                    <img src="/img/five_star_white_icon.png" class="features_icon">
                    <h2><%- gettext('5-star streaming experience') %></h2>
                    <p><%- gettext('Tired of buffering or long loading times? We know how it is. That’s why our servers are designed with speed in mind, so we can help our users avoid such frustration.') %></p>
                </div>
                <div>
                    <img src="/img/power_button_white_icon.png" class="features_icon">
                    <h2><%- gettext('One-click connect') %></h2>
                    <p><%- gettext('One click of your mouse grants you access to all the Netflix content you are now missing out on.') %></p>
                </div>
                <div>
                    <img src="/img/simple_devices_icon.png" class="features_icon">
                    <h2><%- gettext('Enjoy ZenMate on up to 5 different devices') %></h2>
                    <p><%- gettext('Let ZenMate lift the veils of Internet restrictions on all your Internet connected devices.') %></p>
                </div>
            </div>
            <a href="<%- offerLink %>" class="blue_btn"><%- gettext('Unblock Netflix US') %></a>
            <h5><%- gettext('30-day money-back guarantee') %></h5>
        </section>
        
    </div>
    <footer>
        <div class="box_spaceship">
            <img class="object_spaceship" src="/img/space_cow.png">
        </div>
        <div class="footer_contaner">
            <div class="left_side">
                <img src="./img/moneyback_footer.svg" alt="Moneyback" class="moneyback">
                <h1><%- gettext("You’re Covered By our 30-Day<br>Money-Back Guarantee") %></h1>
                <p>
                <%- gettext("We’re so confident you’ll love<img src='./img/Logos_color.png' alt='Zenmate logo' class='zm_logo'>, we’re willing to take all the risk here. After you get ZenMate VPN, you have 30 full days to decide if it’s right for you.") %>
                </p>
                <a href="<%- offerLink %>" class="orange_btn"><%- gettext('Get ZenMate VPN') %></a>
            </div>
            <div class="right_side">
                <div class="cube">
                    <h4><%- format(gettext('Slash %s% off<br>ZenMate VPN!'), [prices.find(price => price.best)[currency].discount]) %></h4>
                    <div class="orange_line"><%- gettext('BEST DEAL') %></div>
                    <div class="price"><%- prices.find(price => price.best)[currency].perMonthFull %></div>
                    <div class="month"><%- gettext('/mo') %></div>
                    <div class="calim"><%- gettext('Claim your discount') %></div>
                </div>
            </div>
        </div>
    </footer>

    <% include ../partials/tagManager %>
</body>

</html>