<html lang="<%= lang %>" dir="<%= lang_dir %>" currency="<%= currency.iso %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/pages/online-privacy.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_dark %>  
        <% include ../partials/badge %>
        <% include ../partials/expose_bar %>  
       
        <header class="color_white parallax_container">
            <% include ../navbar/header_bar %>  
            <div class="container content">
                <div class="col-65">
                    <h1 class="mt-3 mb-0"><%- gettext('Discover The Safest Way to Get<br><b><span class="text-uppercase color_pia_light_orange">Total Online Privacy</span></b><br>Get Private Internet Access VPN') %></h1>
                    <div class="d-md-inline-block text-center d-none">
                        <a href="<%- offerLink %>" class="btn_wave orange my-3"><%- format(gettext("Private Internet Access VPN for %s% OFF"),[prices.blocks[1][currency.iso].discount]) %></a>
                        <p class="color_white mb-0"><span class="color_pia_light_orange"><i class="fas fa-circle mr-2"></i><%- gettext("100%</span> No Logs & Records") %><span class="color_pia_light_orange"><i class="fas fa-circle ml-2"></i></span></p>
                    </div>
                    <div class="position-relative price">
                        <% include ../partials/only_price %> 
                        <% include ../partials/b2mfree_new %>
                    </div>
                    <p class="color_white mb-0 text-left d-block d-md-none mb-2 pam"><span class="color_pia_light_orange"><i class="fas fa-circle mr-2"></i><%- gettext("100%</span> No Logs & Records") %><span class="color_pia_light_orange"><i class="fas fa-circle ml-2"></i></span></p>
                    <div class="d-md-inline-block text-left d-none">
                        <div class="text-center">
                            <p><%- format(gettext("Try it risk free! <i class='fas fa-award'></i><span class='text-uppercase'> %s-day money back guarantee</span>"), [30]) %></p>
                            <% if (query.brand) { %>
                                <% include ../partials/brand %>
                            <% } else { %>
                                <div class="brands d-block">
                                    <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                                    <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                                    <div class="d-inline-block"><img src="img/brand_logo_cnet_white.png" alt="cnet"></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="bg_container parallax d-none d-lg-block">
                    <img src="img/total_privacy_header_image.png" class="people">
                </div>
            </div>
            <div class="d-block d-md-none mobile_header">
                <div class="dark py-2">
                    <div class="container d-flex align-items-center">
                        <div class="mr-3">
                            <% if (query.brand) { %>
                                <% include ../partials/brand %>
                            <% } else { %>
                                <div class="brands d-block">
                                    <div class="d-inline-block mr-1"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                                    <div class="d-inline-block mr-1"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                                    <div class="d-inline-block"><img src="img/brand_logo_cnet_white.png" alt="cnet"></div>
                                </div>
                            <% } %>
                        </div>
                        <div>
                            <p class="mb-0"><%- format(gettext("Try it risk free!<br><span class='text-uppercase'>%s-day money back guarantee</span>"), [30]) %></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a href="<%- offerLink %>" class="btn_wave orange"><%- gettext("Get Private Internet Access VPN") %></a>
                </div>
            </div>
        </header>
        <% include ../body/general %>
        <% include ../partials/tag_manager %>
        <script src="<%= asset('js/trust.js') %>"></script>
    </body>

</html>