
<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/clouds.css') %>">
    <link rel="stylesheet" href="<%= asset('/css/pages/price-drop.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/gra0ggi.css">
</head>

<body>
<% include ../partials/coupon %>
    <% include ../navbar/navbar_white %>
    <% include ../partials/lang_button %>
    <header>
        <img src="/img/Logos_color_black.png" class="logo">
        <div id="man">
            <img src="/img/mandiving.png">
        </div>
        <div class="sky">
            <div id="viewport" style="perspective: 400px;">
                <div id="world" ></div>
                <div id="birds_world" ></div>
                
            </div>
        </div>
        <div class="contianer_text">
            <div class="header_text">
                <h1><%- gettext('Price Drop') %></h1>
                <div class="price_box">
                    <div class="price <%- currency == 'RUB' ? 'rub' : '' %>"> 
                    <div class="symbol<%- prices.find(price => price.best)[currency].right ? '_right' : '' %>"><%- prices.find(price => price.best)[currency].symbol %></div> 
                        <div><%- prices.find(price => price.best)[currency].perMonthNumber.toString().includes(".") ? prices.find(price => price.best)[currency].perMonthNumber.toString().split(".")[0] : prices.find(price => price.best)[currency].perMonthNumber.toString().split(",")[0] %></div>
                        <div><%- prices.find(price => price.best)[currency].perMonthNumber.toString().includes(".") ? prices.find(price => price.best)[currency].perMonthNumber.toString().split(".")[1] : prices.find(price => price.best)[currency].perMonthNumber.toString().split(",")[1] %></div>
                        <div><%- gettext('/MONTH') %></div>
                    </div>
                    <h2><%- gettext('LIMITED TIME ONLY') %></h2>
                    <a href="<%- offerLink %>" class="orange_btn">
                        <%- gettext('Get ZenMate VPN') %>
                    </a>
                    <% include ../partials/brand.ejs %>
                </div>
            </div>
        </div>
    </header>
    <% include ../body/white_body %>

    <% include ../footer/white_trees %>

    <% include ../partials/tagManager %>
    
    <script src="<%= asset('/js/clouds-falling.js') %>"></script>
</body>

</html>