<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('css/streaming.css') %>">
    <link rel="stylesheet" href="https://use.typekit.net/syh7gcy.css">
</head>

    <body>
        <% include ../navbar/navbar_white %>
        <header class="mobile d-block d-lg-none text-center text">
            <div class="bg">
                <div class="container color_dark_green">
                    <h2 class='d-inline-block mb-0'><%- gettext('The Best VPN for streaming') %></h2>
                    <p class="my-3"><%- gettext("Unblock new content libraries with Private Internet Access") %></p>
                    <% include ../partials/circle_discount %>
                </div>
            </div>
            <div class="sub_bg">
                <div class="container color_dark_green">
                    <a href="<%- offerLink %>" class="btn_pia orange mb-3"><%- gettext("Get Private Internet Access") %></a>
                    <% if (query.brand) { %>
                        <% include ../partials/brand %>
                    <% } else { %>
                        <div class="brands">
                            <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                            <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                            <div class="d-inline-block"><img src="img/brand_logo_cnet.png" alt="cnet"></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </header>


        <header class="d-lg-block d-none text">
            <div class="container color_dark_green d-flex justify-content-between">
                <div class="col-5 d-flex justify-content-center flex-column">
                    <h2 class='d-inline-block mb-0'><%- gettext('The Best VPN for Streaming') %></h2>
                    <p class="my-3"><%- gettext("Unblock new content libraries with Private Internet Access") %></p>
                    <div class="d-block">
                        <a href="<%- offerLink %>" class="btn_pia orange mb-3"><%- gettext("Get Private Internet Access") %></a>
                    </div>
                    <% if (query.brand) { %>
                        <% include ../partials/brand %>
                    <% } else { %>
                        <div class="brands">
                            <div class="d-inline-block mr-4"><img src="img/brand_logo_pcmag.png" alt="pcmag"></div>
                            <div class="d-inline-block mr-4"><img src="img/brand_logo_editor_choice.png" alt="editor choice"></div>
                            <div class="d-inline-block"><img src="img/brand_logo_cnet.png" alt="cnet"></div>
                        </div>
                    <% } %>
                </div>
                <div class="col-6">
                    <% include ../partials/circle_discount %>
                    <div class="header_circle">
                        <div class="circle">
                            <div class="popcorn_container">
                                <div class="big">
                                    <% for(var i=1;i<9;i++){ %>
                                        <% if(i>7) { %>
                                            <div class="pop"><img src="img/streaming_popcorn<%- (i - 6) %>.png" alt="popcorn"></div>
                                        <% } else { %>
                                            <div class="pop"><img src="img/streaming_popcorn<%- i %>.png" alt="popcorn"></div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="medium">
                                    <% for(var i=1;i<9;i++){ %>
                                        <% if(i>7) { %>
                                            <div class="pop"><img src="img/streaming_popcorn<%- (i - 6) %>.png" alt="popcorn"></div>
                                        <% } else { %>
                                            <div class="pop"><img src="img/streaming_popcorn<%- i %>.png" alt="popcorn"></div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="small">
                                    <% for(var i=1;i<9;i++){ %>
                                        <% if(i>7) { %>
                                            <div class="pop"><img src="img/streaming_popcorn<%- (i - 6) %>.png" alt="popcorn"></div>
                                        <% } else { %>
                                            <div class="pop"><img src="img/streaming_popcorn<%- i %>.png" alt="popcorn"></div>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="location">
            <div class="container d-flex flex-md-row flex-column justify-content-between align-items-center text-center text-md-left">
                <div class="col-md-9">
                    <h2><%- gettext("Discover Limitless Streaming Content") %></h2>
                    <p><%- gettext("Online streaming services and websites are becoming more popular every day all over the world. But sometimes geo-restrictions can limit the content you have access to. Don’t miss out on video streaming opportunities because of your location. Sign up for Private Internet Access today!") %></p>
                </div>
                <div class="col-md-3">
                    <img src="img/pia_lockman/pia_lockman_geo_travel.png" alt="geo">
                </div>
            </div>
        </section>

        <section id="unblock">
            <div class="container text-center">
                <h2 class="mt-5"><%- gettext("Unblock content on:") %></h2>
                <div class="d-flex justify-content-between align-items-center my-5 flex-wrap">
                    <div class="netflix mb-2 mb-xl-0 col-4 col-xl-2"><img src="img/Netflix_logo.svg" alt="Netflix"></div>
                    <div class="mb-2 mb-xl-0 col-4 col-xl-2"><img src="img/logo_HBOGO.svg" alt="HBOGO"></div>
                    <div class="mb-2 mb-xl-0 col-4 col-xl-2"><img src="img/logo_Disney+.svg" alt="Disney+"></div>
                    <div class="amazon_prime mb-2 mb-xl-0 col-4 col-xl-2"><img src="img/logo_Amazon_Prime_Video.svg" alt="Amazon Prime Video"></div>
                    <div class="mb-2 mb-xl-0 col-4 col-xl-2"><img src="img/logo_Comedy_Central.svg" alt="Comedy Central"></div>
                    <div class="mb-2 mb-xl-0 col-4 col-xl-2"><img src="img/logo_BBC_iPlayer.svg" alt="BBC Player"></div>
                </div>
                <a href="<%- offerLink %>" class="btn_pia orange mb-3"><%- gettext("Get Private Internet Access") %></a>
            </div>
        </section>

        <section id="needs">
            <div class="container text-center">
                <h2 class="mt-5"><%- gettext("A must have for your streaming needs") %></h2>
                <div class="d-flex justify-content-center flex-md-row flex-column mt-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <img src="img/pia_lockman/box_pia_lockman_infinity.png" alt="infinity">
                        <h5 class="my-3"><%- gettext("Unlimited bandwidth for streaming") %></h5>
                        <p class="mb-0"><%- gettext("Private Internet Access has no logs, never records online activity and does not throttle users.") %></p>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <img src="img/pia_lockman/box_pia_lockman_one_click.png" alt="one click">
                        <h5 class="my-3"><%- gettext("One-click solution to override geographical restrictions") %></h5>
                        <p class="mb-0"><%- gettext("Once you have chosen your virtual location, you can connect to it using Private Internet Access with just one click.") %></p>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <img src="img/pia_lockman/box_pia_lockman_devices.png" alt="devices">
                        <h5 class="my-3"><%- gettext("Stream on multiple devices") %></h5>
                        <p class="mb-0"><%- format(gettext("1 Private Internet Access subscription can be used on up to %s devices simultaneously. Share Private Internet Access with your entire family!"),[10]) %></p>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../partials/unblock_steps', {  title: gettext('Unblock streaming in only 4 easy steps'),
                                                    subtitle: gettext('Watch your favorite movies and shows in minutes'),
                                                    steps:[
                                                        gettext('Subscribe to Private Internet Access'),
                                                        gettext('Download Private Internet Access on your device'),
                                                        gettext('Login-in using your username and password'),
                                                        gettext('Turn on Private Internet Access and connect to the location of your choice')
                                                    ],
                                                    footer: gettext('You’re ready to start streaming with Private Internet Access!')

        }) %>

        <%- include('../partials/faq', {title: gettext('Got questions about streaming?<br>Here are a few of our FAQs'),
                                    qas:[
                                            {
                                                'question': gettext('Is it safe to stream with Private Internet Access?'),
                                                'answer': gettext('Yes. Private Internet Access provides a VPN service with servers in 49 locations across 29 countries, including the United States, United Kingdom, Japan, and more. The better question is: Is it safe to stream without Private Internet Access?')
                                            },
                                            {
                                                'question': gettext('Do you have a refund policy?'),
                                                'answer': gettext('Private Internet Access has a no questions asked 7-day money back guarantee. Subscribe to Private Internet Access today to start streaming now!')
                                            },
                                            {
                                                'question': gettext('Will my IP address be exposed to streaming services or websites?'),
                                                'answer': gettext('By using Private Internet Access, you are encrypting your traffic through our VPN tunnel which accesses the internet from one of our servers’ IP addresses. Streaming services and websites will only see our Private Internet Access IP address, not your device’s IP address.')
                                            },
                                            {
                                                'question': gettext('Does Private Internet Access limit the bandwidth that streamers can use?'),
                                                'answer': gettext('Private Internet Access is the premier no log VPN - this means that we don’t even know if you are streaming. All of our servers offer unlimited bandwidth and we do not throttle our users. Period. Sign up for Private Internet Access today to enjoy the unlimited and uncensored internet.')
                                            },
                                            {
                                                'question': gettext('Will Private Internet Access be blocked on my favorite streaming service or website?'),
                                                'answer': gettext('Private Internet Access believes in an open internet and is always working to make sure that no blocks exist for our VPN users. Use our service today to see why Private Internet Access is the best VPN for streaming online.')
                                            }
                                        ]
        }) %>
        <% include ../partials/sponsors %>
        <% include ../partials/footers/people_discount %>
        <% include ../partials/tag_manager %>
    </body>

</html>