
<html lang="<%= lang %>" dir="<%= lang_dir %>">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%= asset('/css/pages/yoga.css') %>">
</head>

<body>
<% include ../partials/coupon %>
    <% include ../navbar/navbar_white %>
    <% include ../partials/lang_button %>
    <header>
        <div class="yoga">
            <div class="apps">
                <div>
                    <img src="/img/Mac_icon.png">
                </div>
                <div>
                    <img src="/img/Windows_icon.png">
                </div>
                <div>
                    <img src="/img/iOS_icon.png">
                </div>
                <div>
                    <img src="/img/Android_icon.png">
                </div>
                <div>
                    <img src="/img/Chrome_icon.png">
                </div>
                <div>
                    <img src="/img/Firefox_icon.png">
                </div>
                <div>
                    <img src="/img/Opera_icon.png">
                </div>
                <div>
                    <img src="/img/openvpn_icon.png">
                </div>
            </div>
            <img src="/img/yoga_man.png" class="yoga_man">
        </div>
        <div class="header_text">
            <div>
                <img src="/img/Logos_color_black.png" class="logo">
                <h1><%- gettext('Free your Mind,<br>We Got you Covered.') %></h1>
                <h3><%- gettext('Bypass restrictions,<br>stay anonymous & enjoy a free Internet') %></h3>
                <a href="<%- offerLink %>" class="blue_btn">
                    <%- gettext('Get ZenMate VPN') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%- prices.find(price => price.best)[currency].perMonthFull + gettext('/mo') %>
                </a>
                <% include ../partials/brand.ejs %>
            </div>
        </div>
    </header>
    <% include ../body/white_body %>

    <% include ../footer/white_trees %>

    <% include ../partials/tagManager %>
    
    <script src="<%= asset('/js/yoga.js') %>"></script>
</body>

</html>